.black_friday_background{
  height: 310px;
  color: white;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  border-radius: 10px;
  position: relative;
}

.whitelogo{
  width: 130px;
  position: absolute;
  left: 0;
  top: 30px;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
}

.inside_text{
  color: white;
  position:absolute;
  left: 70%;
  top: 49%;
  transform: translate(-60%, -80%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.prosfores{
  width: 140px;
  height: 34px;
  background: #f7963b;
  color: white;
  border: 1px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  position:absolute;
  left: 67%;
  top: 57%;
  transform: translate(-60%, -80%);
}

.black{
  color: white;
  position:absolute;
  left: 33.5%;
  top: 50%;
  transform: translate(-60%, -80%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.advertise{
  margin-top: 65px;
  margin-bottom: 50px;
  margin-left: 14%;
  margin-right: 14%;
}
