.categories{
  margin-left: 14%;
  margin-right: 14%;
}

.Technology{
  width: 210px;
  height: 220px;
  background: #1d84b0;
  border: 0px;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-right: 22px;
  float: left;
}

.technology_link{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.House{
  width: 210px;
  height: 220px;
  background: #bca580;
  border: 0px;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-right: 22px;
  float: left;
}

.Fashion{
  width: 210px;
  height: 220px;
  background: #6f69ad;
  border: 0px;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-right: 22px;
  float: left;
}

.Hobby{
  width: 210px;
  height: 220px;
  background: #20a8a6;
  border: 0px;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-right: 22px;
  float: left;
}

.Health{
  width: 210px;
  height: 220px;
  background: #dd6c75;
  border: 0px;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-right: 22px;
  float: left;
}

.Kids{
  width: 210px;
  height: 220px;
  background: #feb555;
  border: 0px;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  float: left;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
